.col-md-12
  = render partial: "shared/logo", locals: {spin_once: true}

  %h2
    = @user.first_name
    = @user.last_name
    .small
      created this playlist on My Very Last Song.
      %br
      These are the last songs they want to hear. Ever
  #songs
    %h4 Playlist
    %a.pull-right.play-on-spotify.only-desktop{href: "https://open.spotify.com/playlist/#{@user.playlist_id}", target: "_blank"}
      Play it on Spotify
      •
      #{@songs.count} songs
    %ul.songs
      %li.template
      - @songs.order(:seq).each do |song|
        %li.song
          .cover
            = image_tag song.album["images"]["0"]["url"] rescue nil
          .details
            .name
              %span.artist-name= song.artist_name
              %span.dash —
              %span.song-name= song.name
            .album
              = song.album["name"]
          .badges.col-md-4
            - if song.valid_itunes_link?
              = link_to song.itunes_link, target: :blank do
                = image_tag "http://images.apple.com/euro/itunes/link/b/generic/images/link-badge-itunes_2x.png"
            - elsif song.itunes_link.nil?
              = link_to '#', target: :blank, class: 'fetch-itunes-link', data: {id: song.spotify_id} do
                = image_tag "http://images.apple.com/euro/itunes/link/b/generic/images/link-badge-itunes_2x.png"
    %a.play-on-spotify.only-mobile{href: "https://open.spotify.com/trackset/MVLS — #{@user.first_name} #{@user.last_name}/#{@songs.order(:seq).pluck(:spotify_id).compact.join(',')}", target: "_blank"}
      Play it on Spotify
      •
      #{@songs.count} songs

  = link_to "Create my own playlist", "/", class: "create-my-own"

  = render partial: "shared/top", locals: {limit: 4, expanded: true}


- content_for :scripts do
  = javascript_pack_tag :user
