.logo
  .dot.ne
  .dot.se
  .dot.nw
  .dot.sw
  .disk-container
    = image_tag "disk-bg.svg", class: 'disk'
    = image_tag @user.try(:avatar_url), class: "avatar #{@user.present? && 'visible'}"
    = image_tag "avatar-mask.png", class: 'avatar-mask'
    = image_tag "skull.svg", class: 'skull'
    .label MVLS – MMXVI
    .name.user-first-name= @user.try :first_name
    .center
    - unless @user.try(:avatar_url)
      = image_tag "mvls-skull.svg", class: 'avatar-skull visible'

