.left.col-md-4

  .block#new_song.logged
    %h4.ion-plus.ion-bt Add more songs
    %form
      .row
        .col-md-12
          .input-group
            %input.form-control{type: :text, value: ''}
            .input-group-addon
              %input{type: :submit, id: 'new_song_bt', value: 'Search'}

      %ul.results
        %li.no-results
          .col-md-12 No results for your search
        %li.template.result
          .col-md-12
            %input.song-id{type: :hidden, data: {attr: 'id'}}
            .name{data: {attr: 'name'}}
            .artists{data: {attr: 'artists', loop: true}}
              .artist.row
                .col-xs-1.ion-person
                .col-xs-10{data: {attr: 'name'}}
            .album.row
              .col-xs-1.ion-disc
              .col-xs-10{data: {attr: 'album.name'}}
            = link_to "Add", [:songs], class: 'add-song btn btn-success ion-plus ion-bt'

  .share.block.logged
    %h4.ion-share.ion-bt Share
    %p
      Share your very last playlist on Facebook:
      %iframe.fb-share{src: "https://www.facebook.com/plugins/share_button.php?mobile_iframe=true&layout=button&appId=#{Rails.env.development? ? '1576628125970347' : '1576626152637211'}&width=0&height=0&href=#{root_url}", width:"100", height:"21", style: "border:none;overflow:hidden", scrolling:"no", frameborder:"0", allowTransparency:"true"}
    %p
      Or use this link :
      %br
      = link_to root_url, root_url, id: "myLink"


  = render partial: "shared/top"


.right.col-md-8
  .unlogged
    .explain
      Don't mess with your last appearance on Earth, let anyone know which songs you want to be played during your funerals.
    %h3 To get started, please first login:
    %fb:login-button{id: "login", scope: "public_profile,email", onlogin: "checkLoginState();", size: "xlarge"}

  .logged
    #songs
      %ul.songs
        %li.template.song
          = render partial: 'shared/song_details'
          .col-md-1
            = link_to 'delete', '#', class: 'ion-close-circled delete pull-right'
        %li.song.no-songs
          There is no song in your playlist yet. You may want to use the
          %a
            "Add more song" feature.



- content_for :scripts do
  = javascript_include_tag :facebook
  :coffeescript
    $(".no-songs a").click (e)->
      e.preventDefault()
      $('#new_song').addClass 'highlight'
      setTimeout ->
        $('#new_song').removeClass 'highlight'
      , 1000
