.unlogged
  = render partial: "shared/logo"
  .explain
    Don’t mess with your last moments on Earth, let someone know the songs you want played at your funeral.

  = link_to '#', class: 'fb-login', id: 'login' do
    %span.ion.ion-social-facebook
    Login with Facebook

  .why
    Why do you need my Facebook?
    .reason
      Worry not, we only use your Facebook account to save your playlist, so that it won't be lost when you come back. And we only access your publicly available information.
  = render partial: "shared/top", locals: {limit: 4, expanded: true}

.logged
  .left.col-sm-4
    = render partial: "shared/logo"
    .only-desktop= render partial: "shared/share"
    .only-desktop= render partial: "shared/top"


  .right.col-sm-8
    %h2
      %span.user-first-name
      %span.user-last-name
    #new_song
      %form
        .row
          .col-md-12
            .input-group
              .input-group-addon
                .ion.ion-search
              %input.form-control{type: :text, value: '', placeholder: "Search and add songs"}
              .input-group-addon.only-mobile
                %input{type: :submit, id: 'new_song_bt', value: 'Search'}

        %ul.results
          %li.no-results
            .col-md-12 No results for your search
          %li.template.result
            .col-md-12
              %input.song-id{type: :hidden, data: {attr: 'id'}}
              .name{data: {attr: 'name'}}
              .artists{data: {attr: 'artists', loop: true}}
                .artist.row
                  .col-xs-1.ion-person
                  .col-xs-10{data: {attr: 'name'}}
              .album.row
                .col-xs-1.ion-disc
                .col-xs-10{data: {attr: 'album.name'}}
              = link_to "Add", [:songs], class: 'add-song btn btn-success ion-plus ion-bt'

      #songs.edit
        %h4 playlist
        %ol.songs
          %li.template.song
            = render partial: 'shared/song_details'
            .actions
              = link_to 'delete', '#', class: 'ion-close-circled delete pull-right'
          %li.song.no-songs
            There is no song in your playlist yet. You may want to use the
            %a
              "Add more song" feature.

    .only-mobile= render partial: "shared/share"
    .only-mobile= render partial: "shared/top"

- content_for :early_scripts do
  = javascript_include_tag :facebook

- content_for :scripts do
  :coffeescript
    ((d, s, id) ->
      js = undefined
      fjs = d.getElementsByTagName(s)[0]
      if d.getElementById(id)
        return
      js = d.createElement(s)
      js.id = id
      js.src = 'http://connect.facebook.net/en_US/sdk.js'
      fjs.parentNode.insertBefore js, fjs
      return
    ) document, 'script', 'facebook-jssdk'

    $(".no-songs a").click (e)->
      e.preventDefault()
      $('#new_song').addClass 'highlight'
      setTimeout ->
        $('#new_song').removeClass 'highlight'
      , 1000

    window.playDisk = false

    stopDisk = ->
      if window.playDisk
        setTimeout ->
          stopDisk()
        , 2000
      else
        $('.unlogged .logo').removeClass 'play'

    $('.unlogged .logo:not(.play)').mouseleave ->
      window.playDisk = false
    $('.unlogged .logo:not(.play)').mouseenter ->
      window.playDisk = true
      $('.unlogged .logo').addClass 'play'
      setTimeout ->
        stopDisk()

      , 2000

