
!!!
= cc_html lang: :fr, class: 'no-js' do
  %head
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/

    %title My Very Last Song
    // %meta{name: "description", content: "#{description}"}/
    = yield :meta

    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'screen', rel: 'stylesheet'}
    %link{href: '//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel: 'stylesheet'}

    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "mobile-web-app-capable", content: "yes"}/
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}/
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:title", content: "MyVeryLastSong - #{@user.try(:name)}"}
    %meta{property: "og:description", content: "Don't let your friends bad taste ruin the most important day of your death"}
    %meta{property: "og:image", content: image_url("skull.png")}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:400,300,600", rel: "stylesheet", type: "text/css"}/
    = yield :styles
    =# javascript_include_tag 'critical'
    = csrf_meta_tags

  - body_class = "#{yield :extra_body_class} #{controller_name} #{action_name}".strip
  %body{class: body_class}
    .scroll-wrapper
      .inner-scroll-wrapper
        #header
          = image_tag "skull.png"
          %h1 My Very Last Song
          .baseline Don't let your friends bad taste ruin the most important day of your
          %span.stroke life
          %span.death death
          = "."
        #content
          = yield

    = javascript_include_tag "application"
    = yield :scripts
